# Visual Studio Build
*.exe
*.dll
*.lib
*.obj
*.pdb
*.ilk
*.exp
*.vxd
*.ocx
*.ncb
*.sdf
*.idb
*.res
*.tlog
*.log
*.lastbuildstate
*.aps
*.ipch
*.suo
*.user
*.userosscache
*.node
*.v14.suo
*.dbmdl
*.VC.db
*.VC.VC.opendb
Debug/
Release/
x64/
x86/
build/
ipch/
obj/
[Bb]in/
[Tt]emp/

# Visual Studio Cache
.vs/
.vscode/
.VC.db
*.opendb

# Visual Studio Others
*.vcxproj.user
*.vcxproj.filters
*.vcxproj.*.user
*.vcxproj.*.filters
